<div class="container">
  <footer class="py-3 my-4" >
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://www.freecodecamp.org/" 
    class="nav-link px-2 text-body-secondary" target="_blank">Home</a></li>
      <li class="nav-item"><a href="https://www.freecodecamp.org/learn/" 
    class="nav-link px-2 text-body-secondary" target="_blank">Basic 
    Carriculum</a></li>
      <li class="nav-item"><a href="https://github.com/geektalks" 
    class="nav-link px-2 text-body-secondary" target="_blank">Github 
    Referance</a></li>
      <li class="nav-item"><a 
    href="https://www.freecodecamp.org/news/support/" class="nav-link px-2 
    text-body-secondary" target="_blank">FAQs</a></li>
      
    </ul>
    <p class="text-center text-body-secondary">&copy; 2023 CODE CAMP by 
    Joel</p>
  </footer>
</div>